<section class="container-fluid map">
    <div class="row map-wrap">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 col-lg-offset-1">
            <div class="chungtoi">
                <a href="">
                    <h3>Về chúng tôi</h3>
                </a>
                <ul>
                    <li><a href="">Văn Hóa Công Ty</a></li>
                    <li><a href="">Nhận Diện Thương Hiệu</a></li>
                    <li><a href="">Triết Lí Kinh Doanh</a></li>
                    <li><a href="">Tầm Nhìn Sứ Mệnh</a></li>
                    <li><a href="">Tuyển Dụng</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div class="chinhsach">
                <a href="">
                    <h3>Chính Sách Và Quy Định</h3>
                </a>
                <ul>
                    <li><a href="">Hướng Dẫn Đặt Hàng</a></li>
                    <li><a href="">Chính Sách Và Quy Định</a></li>
                    <li><a href="">Câu Hỏi Thường Gặp</a></li>
                    <li><a href="">Hệ Thống Phân Phối</a></li>
                    <li><a href="">Hòm Thư Góp Ý</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
            <div class="sanpham">
                <a href="">
                    <h3>Sảm phẩm</h3>
                </a>
                <ul>
                    <li><a href="">Ô Mai</a></li>
                    <li><a href="">Chè</a></li>
                    <li><a href="">Kẹo</a></li>
                    <li><a href="">Gói Quà Tặng</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
            <div class="thanhtoan">
                <h3 class="h3-center">NHẬN THANH TOÁN</h3>
                <ul>
                    <li><img src="/img/visa.png"></li>
                    <li><img src="/img/master.png"></li>
                    <li><img src="/img/cod.png"></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="tintuc">
                <h3>ĐĂNG KÝ NHẬN BẢN TIN</h3>
                <input type="email" name="email" id="email" placeholder="Email">
                <p>Nhận ngay thông tin về những ưu đãi hấp dẫn từ  STORE</p>
            </div>
        </div>
    </div>
</section>


<footer class="container-fluid footer">
    <div class="row footer-wrap">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-lg-offset-1">
                <div class="company">
                    <h3>công ty cổ phần  store</h3>
                    <p>Văn phòng: Số 14 Ngõ 4 - Nguyễn Đình Chiểu - Hai Bà Trưng - Hà Nội</p>
                    <p>Điện thoại: 0165 629 6622</p>
                    <p>Website: http://techmaster.vn/</p>
                    <p>Email: techmaster@techmaster.vn</p>
                </div>
            </div>

            <div class="hidden-xs col-xs-12 col-sm-4 col-md-push-5 col-md-2 col-lg-2 col-lg-push-4">
                <div class="ketnoi">
                    <h3>kết nối</h3>
                    <div id="ktimg">
                        <img src="/img/fb.png">
                        <img src="/img/gg.png">
                        <img src="/img/twt.png">
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-5 col-md-pull-2 col-lg-4 col-md-pull-2">
                <div class="chinhanh">
                    <h3>hệ thống chi nhánh</h3>
                    <p>1. Số 14 Ngõ 4 - Nguyễn Đình Chiểu - Hai Bà Trưng - Hà Nội</p>
                    <p>2. Phòng 2304, tầng 23, toà nhà StarCity, 81 Lê Văn Lương, Nhân Chính, Thanh Xuân, Hà Nội</p>
                    <p>3. Phòng 2304, tầng 23, toà nhà StarCity, 81 Lê Văn Lương, Nhân Chính, Thanh Xuân, Hà Nội</p>
                </div>
            </div>

            <div class="visible-xs col-sm-4 col-md-2 col-lg-2">
                <div class="ketnoi">
                    <h3>kết nối</h3>
                    <div id="ktimg">
                        <img src="/img/fb.png">
                        <img src="/img/gg.png">
                        <img src="/img/twt.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>